---
import Layout from "../layouts/Layout.astro";
import ForecastChart from "../organism/Charts/ForecastChart";
import ComposedChart from "../organism/Charts/ComposedChart";
import PieChart from "../organism/Charts/PieChart";
import { barData, barData2, pieData } from "../../fakeData";
---

<Layout title="Welcome to Astro.">
  <div class="flex flex-col p-6 gap-5">
    <a href="/rating-meter">Rating Meter</a>
    <a href="/charts">Charts</a>
    <a href="/table">Table</a>
  </div>
</Layout>
